@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
border-color: #573D7D;
border-style: solid;
border-width: 5px;
background-color: aqua;
font-size: 30px;
font-style: italic;
color: red;
}
#p2{
background-color: #573D7D;
}
.pstyle{
background-color: yellow;
}
span{color: green;}
.myspan{color: gray;}
